*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, #root {
    display: flex;
    width: 100%;
    background-color: #18191A;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

#root {
    border: 1px solid blue;
}

.active {
    border-bottom-color: #0866FF !important;

    i {
        color: #0866FF !important;
    }
}